streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-mistralai

mistralai
tavily-python

beautifulsoup4
requests
html5lib

python-dotenv
aiohttp
pandas

rich
tenacity
orjson
pydantic